@page "/chatgpt"
@using OpenAI;
@using OpenAI.Chat;
@using OpenAI.Models;
@inject IConfiguration _configuration
@inject IJSRuntime _jsRuntime
<PageTitle>Chat GPT</PageTitle>
<style>
    textarea {
        border: 1px dashed #888;
        border-radius: 5px;
        width: 80%;
        overflow: auto;
        background: #f7f7f7
    }

    /* improved CSS for speech bubbles */

    .assistant, .user {
        position: relative;
        font-family: arial;
        font-size: 1.1em;
        border-radius: 10px;
        padding: 20px;
        margin-bottom: 20px;
    }

        .assistant:after, .user:after {
            content: '';
            border: 20px solid transparent;
            position: absolute;
            margin-top: -30px;
        }

    .user {
        background: #03a9f4;
        color: #fff;
        margin-left: 20%;
        margin-right: 100px;
        top: 30%;
        text-align: right;
    }

    .assistant {
        background: #4CAF50;
        color: #fff;
        margin-left: 100px;
        margin-right: 20%;
    }

    .user:after {
        border-left-color: #03a9f4;
        border-right: 0;
        right: -20px;
    }

    .assistant:after {
        border-right-color: #4CAF50;
        border-left: 0;
        left: -20px;
    }

    .msg {
        font-size: medium;
    }
</style>
<h1>ChatGPT</h1>

<div id="chatcontainer" style="height:550px; width:80%; overflow: scroll;">
    @foreach (var item in chatMessages)
    {
        <div>
            @if (item.Role == Role.User)
            {
                <div style="float: right; margin-right: 20px; margin-top: 10px">
                    <b>Human</b>
                </div>
                <div class="@item.Role.ToString().ToLower()">
                    <div class="msg">
                        @item.Content?.ToString()
                    </div>
                </div>
            }

            @if (item.Role == Role.Assistant)
            {
                <div style="float: left; margin-left: 20px; margin-top: 10px">
                    <b>ChatGPT&nbsp;&nbsp;</b>
                </div>
                <div class="@item.Role.ToString().ToLower()">
                    <div class="msg">
                        @if (!string.IsNullOrEmpty(item.Content?.ToString()))
                        {
                            @((MarkupString)item.Content?.ToString())
                        }
                    </div>
                </div>
            }
        </div>
    }
</div>
@if (!Processing)
{
    <textarea rows="3" cols="60" @bind="prompt" />
    <br />
    <button class="btn btn-primary"
    @onclick="CallChatGPT">
        Call ChatGPT
    </button>
    <span>&nbsp;</span>
    <button class="btn btn-info"
    @onclick="RestartChatGPT">
        Restart
    </button>
}
else
{
    <br>
    <h4>Processing...</h4>
}
<br /><p style="color:red">@ErrorMessage</p>
@code {
    string Organization = "";
    string ApiKey = "";

    List<Message> chatMessages = new List<Message>();
    string prompt = "Write a 10 word description of OpenAI ChatGPT";
    string ErrorMessage = "";
    bool Processing = false;

    protected override void OnInitialized()
    {
        Organization = _configuration["OpenAIServiceOptions:Organization"] ?? "";
        ApiKey = _configuration["OpenAIServiceOptions:ApiKey"] ?? "";

        // Create a new list of chatMessages objects
        chatMessages = new List<Message>();

        // Add the system's introductory message to the chatMessages list
        chatMessages.Add(new Message(Role.System, "You are helpful Assistant"));
    }

    // This method is called after the component has finished rendering
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        // Use a try-catch block to handle any exceptions that might occur
        try
        {
            // Call the JavaScript function "ScrollToBottom"
            // with the argument "chatcontainer"
            // This function is responsible for scrolling the chat
            // container to the bottom
            await _jsRuntime.InvokeAsync<string>(
                "ScrollToBottom", "chatcontainer");
        }
        catch
        {
            // If any exception occurs while calling the
            // JavaScript function,do nothing and ignore the error
        }
    }

    async Task CallChatGPT()
    {
        try
        {
            // Set Processing to true to indicate that the method is processing
            Processing = true;

            // Call StateHasChanged to refresh the UI
            StateHasChanged();

            // Clear any previous error messages
            ErrorMessage = "";

            // Create a new OpenAIClient object
            // with the provided API key and organization
            var api = new OpenAIClient(new OpenAIAuthentication(ApiKey, Organization));

            // Add the new message to chatMessages
            chatMessages.Add(new Message(Role.User, prompt));

            // Call ChatGPT
            // Create a new ChatRequest object with the chat prompts and pass
            // it to the API's GetCompletionAsync method
            var chatRequest = new ChatRequest(chatMessages);
            var result = await api.ChatEndpoint.GetCompletionAsync(chatRequest);

            var choice = result.Choices.FirstOrDefault();

            if (choice != null)
            {
                if (choice.Message != null)
                {
                    chatMessages.Add(choice.Message);
                }
            }
        }
        catch (Exception ex)
        {
            // Set ErrorMessage to the exception message if an error occurs
            ErrorMessage = ex.Message;
        }
        finally
        {
            // Clear the prompt variable
            prompt = "";

            // Set Processing to false to indicate
            // that the method is done processing
            Processing = false;

            // Call StateHasChanged to refresh the UI
            StateHasChanged();
        }
    }

    void RestartChatGPT()
    {
        prompt = "Write a 10 word description of OpenAI ChatGPT";
        chatMessages = new List<Message>();
        ErrorMessage = "";
        StateHasChanged();
    }
}