@page "/finetuningexample"
@using OpenAI;
@using OpenAI.Files;
@using OpenAI.FineTuning;
@using OpenAI.Models;
@inject IJSRuntime JSRuntime
@inject IConfiguration _configuration
<PageTitle>Fine Tuning Example</PageTitle>

<h1>Fine Tuning Example</h1>
<br />
<button class="btn btn-success" @onclick="UploadFile">Upload SentimentSample.jsonl File</button>
<br />
<br />
@if (ColFileData.Count > 0)
{
    <h4>
        <button class="btn btn-secondary"
            @onclick="(() => ListFiles())">
            Refesh
        </button> Files
    </h4>
    <table class="table">
        <thead>
            <tr>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var file in ColFileData)
            {
                <tr>
                    <td>
                        <a href="javascript:void(0)" onclick="@(() => DownloadFile(file))">
                            @file.FileName
                        </a> (@file.Status - @file.Size bytes) [@file.CreatedAt]
                    </td>
                    <td>
                        <!--  Only allow fine-tune jobs to be created -->
                        <!--  for files with the purpose "fine-tune" -->
                        @if (file.Purpose == "fine-tune")
                        {
                            <button class="btn btn-success"
                        @onclick="(() => CreateFineTuneJob(file))">
                                Create Fine Tune Job
                            </button>
                        }
                        &nbsp;
                        <button class="btn btn-danger"
                        @onclick="(() => DeleteFile(file))">
                            Delete
                        </button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
<br />
<h4>
    <button class="btn btn-secondary"
            @onclick="(() => FineTuneEvents())">
        Refresh
    </button> Status
</h4>
<br />
@foreach (var status in colEvents)
{
    <p>[@status.CreatedAt](@status.Level) : @status.Message</p>
}

<!-- FineTuneJobs -->
@if (colFineTuneJob.Count > 0)
{
    <h4>
        <button class="btn btn-secondary"
            @onclick="(() => ListFineTuneJobs())">
            Refesh
        </button> FineTune Jobs
    </h4>
    <table class="table">
        <thead>
            <tr>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var finetune in colFineTuneJob)
            {
                <tr>
                    <td>
                        @finetune.Id @finetune.FineTunedModel (@finetune.Status) [@finetune.CreatedAt]
                    </td>
                    <td>
                        <button class="btn btn-danger"
                        @onclick="(() => DeleteFineTunedModel(finetune))">
                            Delete
                        </button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
<br />

<!-- Models -->
@if (colModels.Count > 0)
{
    <h4>
        <button class="btn btn-secondary"
            @onclick="(() => ListModels())">
            Refesh
        </button> Models
    </h4>
    <table class="table">
        <thead>
            <tr>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var model in colModels)
            {
                <tr>
                    <td>
                        @model.Id [@model.OwnedBy]
                    </td>
                    <td>
                        <button class="btn btn-danger"
                        @onclick="(() => DeleteModel(model))">
                            Delete
                        </button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
<br />

@code {
    string Organization = "";
    string ApiKey = "";
    List<FileData> ColFileData = new List<FileData>();

    FileData? fileData;
    FineTuneJob? fineTuneJob;
    List<Event> colEvents = new List<Event>();
    List<FineTuneJob> colFineTuneJob = new List<FineTuneJob>();
    List<Model> colModels = new List<Model>();

    protected override async Task OnInitializedAsync()
    {
        Organization = _configuration["OpenAIServiceOptions:Organization"] ?? "";
        ApiKey = _configuration["OpenAIServiceOptions:ApiKey"] ?? "";

        await ListFiles();
        await ListFineTuneJobs();
        await ListModels();
    }

    // Files

    private async Task ListFiles()
    {
        var api = new OpenAIClient(new OpenAIAuthentication(ApiKey, Organization));
        var files = await api.FilesEndpoint.ListFilesAsync();
        ColFileData = files.ToList();
    }

    private async Task UploadFile()
    {
        var api = new OpenAIClient(new OpenAIAuthentication(ApiKey, Organization));
        fileData = await api.FilesEndpoint.UploadFileAsync(@"SampleData/SentimentSample.jsonl", "fine-tune");
    }

    private async Task DeleteFile(FileData paramaFile)
    {
        var api = new OpenAIClient(new OpenAIAuthentication(ApiKey, Organization));
        var result = await api.FilesEndpoint.DeleteFileAsync(paramaFile);
        await ListFiles();
    }

    private async Task DownloadFile(FileData paramaFile)
    {
        var api = new OpenAIClient(new OpenAIAuthentication(ApiKey, Organization));
        var downloadedFilePath = await api.FilesEndpoint.DownloadFileAsync(paramaFile, "data");

        // load the file at downloadedFilePath
        var filecontents = System.IO.File.ReadAllBytes(downloadedFilePath);
        await JSRuntime.InvokeVoidAsync("saveAsFile", paramaFile.FileName, Convert.ToBase64String(filecontents.ToArray()));
    }

    // FineTune

    private async Task CreateFineTuneJob(FileData paramaFile)
    {
        var api = new OpenAIClient(new OpenAIAuthentication(ApiKey, Organization));
        var request = new CreateFineTuneJobRequest(paramaFile);
        fineTuneJob = await api.FineTuningEndpoint.CreateFineTuneJobAsync(request);

        await FineTuneEvents();
    }

    private async Task FineTuneEvents()
    {
        if (fineTuneJob != null)
        {
            colEvents = new List<Event>();

            var api = new OpenAIClient(new OpenAIAuthentication(ApiKey, Organization));

            var Events = await api.FineTuningEndpoint.ListFineTuneEventsAsync(fineTuneJob);

            foreach (var item in Events)
            {
                colEvents.Add(item);
            }
        }
    }

    private async Task ListFineTuneJobs()
    {
        var api = new OpenAIClient(new OpenAIAuthentication(ApiKey, Organization));
        var fineTuneJobs = await api.FineTuningEndpoint.ListFineTuneJobsAsync();

        foreach (var job in fineTuneJobs)
        {
            colFineTuneJob.Add(job);
        }
    }


    private async Task DeleteFineTunedModel(FineTuneJob paramaFineTuneJob)
    {
        var api = new OpenAIClient(new OpenAIAuthentication(ApiKey, Organization));
        var result = await api.ModelsEndpoint.DeleteFineTuneModelAsync(paramaFineTuneJob.FineTunedModel);
        await ListFineTuneJobs();
    }

    // Models

    private async Task ListModels()
    {
        var api = new OpenAIClient(new OpenAIAuthentication(ApiKey, Organization));
        var models = await api.ModelsEndpoint.GetModelsAsync();

        colModels = new List<Model>();

        foreach (var model in models)
        {
            // Only return models owned by this Organization
            //if (model.OwnedBy == Organization)
            //{
                colModels.Add(model);
            //}
        }
    }

    private async Task DeleteModel(Model paramaModel)
    {
        var api = new OpenAIClient(new OpenAIAuthentication(ApiKey, Organization));
        var result = await api.ModelsEndpoint.DeleteFineTuneModelAsync(paramaModel.Id);
        await ListModels();
    }
}